<html>
    <head>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
        
    </head>
    <body style="text-align: center;">
        <video id='testvideo' autoplay></video>
        <br>
        <button onclick="startrec()">Start</button>
        <br>
        <br>
        <!-- <button onclick="capturepic()">Capture</button> -->
        <br>
        <label id='prediction'></label>
        <br>
        <canvas style="display:none;" id="preview"></canvas>
    </body>
    <footer>
        <script src="static/js/testscript.js"></script>
    </footer>
</html>